<div class="row">
    <img src={{user.Profile.image}}></img>
    <h3>{{user.username}}</h3>

    <div class="col-xs-12">
        <h3>Age</h3>
        <div>
            {{user.Profile.age}}
        </div>
        <div>
            {{user.Profile.location}}
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Villages Captured</h3>
        <div>
            {{user.Profile.villagesCaptured}}
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Occupation</h3>
        <div>
            {{user.Profile.occupation}}
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Marital Status</h3>
        <div>
            {{user.Profile.marital}}
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Gender</h3>
        <div>
            {{user.Profile.gender}}
        </div>
    </div>
</div>
